@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    @apply text-gray-6 leading-tight text-[12.5px];
  }
}

@layer components {
  .btn {
    @apply inline-block bg-gray-1 px-3 py-1.5 font-bold rounded-[3px] text-gray-6 text-center hover:border-gray-3 border border-transparent;
  }
}
