@import "tailwindcss";

@theme {
  --color-red-1: #faf4f3;
  --color-red-2: #dfbebe;
  --color-red-3: #b93d3d;

  --color-green-1: #f4f8f3;
  --color-green-2: #b4d6b3;
  --color-green-3: #238020;

  --color-gray-0: #fff;
  --color-gray-1: #f7f7f7;
  --color-gray-2: #ededed;
  --color-gray-3: #dedede;
  --color-gray-4: #999;
  --color-gray-5: #696969;
  --color-gray-6: #333;
  --color-gray-7: #000;
}

body,
html {
  @apply text-gray-6 leading-tight text-[12.5px] select-none font-sans antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

@utility btn {
  @apply border h-9 flex items-center hover:border-gray-3 justify-center rounded-sm bg-gray-1 px-4 border-transparent font-bold;
}

@layer utilities {
  .status-private {
    --color-status-1: var(--color-red-1);
    --color-status-2: var(--color-red-2);
    --color-status-3: var(--color-red-3);
  }

  .status-public {
    --color-status-1: var(--color-green-1);
    --color-status-2: var(--color-green-2);
    --color-status-3: var(--color-green-3);
  }

  .status-closed {
    --color-status-1: var(--color-gray-1);
    --color-status-2: var(--color-gray-3);
    --color-status-3: var(--color-gray-6);
  }
}
