@import "tailwindcss";

@theme {
  --color-red-1: #faf4f3;
  --color-red-2: #dfbebe;
  --color-red-3: #b93d3d;

  --color-green-1: #f4f8f3;
  --color-green-2: #b4d6b3;
  --color-green-3: #238020;

  --color-blue-1: #ebecf7;
  --color-blue-2: #3d46c2;
  --color-blue-3: #00075f;

  --color-gray-0: #fff;
  --color-gray-1: #f7f7f7;
  --color-gray-2: #ededed;
  --color-gray-3: #dedede;
  --color-gray-4: #999;
  --color-gray-5: #696969;
  --color-gray-6: #333;
  --color-gray-7: #000;

  --color-status-1: transparent;
  --color-status-2: transparent;
  --color-status-3: transparent;

  --color-ring: var(--color-blue-2);

  --spacing-preview: 180px;
  --spacing-bottom: 280px;
  --spacing-window-height: calc(var(--spacing-preview) + var(--spacing-bottom));
  --spacing-channel-row-height: 2rem;
  --spacing-channel-row-gap: 2px;
}

input {
  @apply border-gray-3 focus:border-ring focus:outline-none;
}

body,
html {
  @apply font-sans text-[12.5px] leading-tight text-gray-6 antialiased select-none;
  font-family: Arial, Helvetica, sans-serif;
}

@utility btn {
  @apply flex h-9 cursor-pointer items-center justify-center rounded-sm border border-gray-3 bg-gray-1 px-4 font-bold ring-ring outline-none hover:border-gray-3 focus-visible:ring-2 focus-visible:ring-offset-1;
}

@utility btn-primary {
  @apply btn border-none border-transparent bg-blue-3 text-white hover:opacity-90;
}

@utility status-private {
  --color-status-1: var(--color-red-1);
  --color-status-2: var(--color-red-2);
  --color-status-3: var(--color-red-3);
}

@utility status-public {
  --color-status-1: var(--color-green-1);
  --color-status-2: var(--color-green-2);
  --color-status-3: var(--color-green-3);
}

@utility status-closed {
  --color-status-1: var(--color-gray-1);
  --color-status-2: var(--color-gray-3);
  --color-status-3: var(--color-gray-6);
}
